django>=5.2
python-dotenv>=0.21.0
django-admin-interface>=0.29.2,<0.30.0
python-dotenv>=0.21.0
django-tailwind>=4.0
django-htmx>=1.23
django-seo2>=1.0
user-agents>=2.2.0
whitenoise>=6.6.0
django-axes>=8.0.0
django-ckeditor-5>=0.2.8  # Or latest stable version
django-celery-beat==2.8.1
argon2-cffi==23.1.0
asgiref==3.8.1
django-colorfield==0.9.0
django-browser-reload>=1.12.0
dj-database-url>=0.5.0
psycopg2-binary>=2.9.9
sentry-sdk[django]
django-debug-toolbar
gunicorn
